<div class="card bg-light mb-3 mt-3 text-center">
  <h2 class="card-header">
    {{ expense.title }} {{ expense.due_date|date:"d.m.y" }}
    <a class="btn btn-success btn-sm" href="{% url 'oplaty:expense-update' expense.id %}">EDIT</a>
    <a class="btn btn-danger btn-sm" href="{% url 'oplaty:expense-delete' expense.id %}">DEL</a>
  </h2>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered table-striped table-hover">
        <tr>
          <td style="width:30%">Title</td>
          <td>{{ expense.title }}</td>
        </tr>
        <tr>
          <td>Due date</td>
          <td>{{ expense.due_date|date:"d.m.y" }}</td>
        </tr>
        <tr>
          <td>Amount</td>
          <td>{{ expense.amount }}</td>
        </tr>
        <tr>
          <td>Recurring</td>
          <td>
            {% if expense.recurring %}
              Yes
            {% else %}
              No
            {% endif %}
          </td>
        </tr>
        <tr>
          <td>Description</td>
          <td>{{ expense.description }}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
