{% extends "oplaty/base.html" %}
{% load crispy_forms_tags %}

<head>
  <title>{% block title %}{{ month_name }} {{ year }}{% endblock title %}</title>
</head>

{% block content %}
<div class="container"  style="max-width: 800px;">
  <div class="row">
    <div class="col">
      <div class="card bg-light mb-3 mt-3 text-center">
        <h2 class="card-header">
          New Expense
        </h2>
        <div class="card-body">
          <form method="post" action="{% if from %}?from={{ from }}{% else %}.{% endif %}">{% csrf_token %}
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <tr>
                <td style="width:30%">Title</td>
                <td>{{ form.title|as_crispy_field }}</td>
              </tr>
              <tr>
                <td>Due date</td>
                <td>{{ form.due_date|as_crispy_field }}</td>
              </tr>
              <tr>
                <td>Amount</td>
                <td>{{ form.amount|as_crispy_field }}</td>
              </tr>
              <tr>
                <td>Recurring</td>
                <td>{{ form.recurring|as_crispy_field }}</td>
              </tr>
              <tr>
                <td>Description</td>
                <td>{{ form.description|as_crispy_field }}</td>
              </tr>
            </table>
            <input type="submit" value="Add" class="btn btn-secondary btn-sm">
            <a class="btn btn-secondary btn-sm" href="{% if from %}{{ from }}{% else %}{% url 'oplaty:year-view' year=form.instance.due_date.year %}{% endif %}">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
"title",
"amount",
"description",
"recurring",
"due_date",
