{% extends "oplaty/base.html" %}

<head>
  <title>{% block title %}{{ month_name }} {{ year }}{% endblock title %}</title>
</head>

{% block content %}
<div class="container"  style="max-width: 800px;">
  <div class="row">
    <div class="col">
      <div class="card bg-light mb-3 mt-3 text-center">
        <h2 class="card-header">
          {{ month_name }} {{ year }}
          <div class="col">
            <a class="btn btn-secondary btn-sm" href="{% url 'oplaty:year-view' year=year %}">Year View</a>
            <a class="btn btn-secondary btn-sm" href="{% url 'oplaty:transaction-list' year=year month=month %}">Transactions View</a>
          </div>
        </h2>
        <div class="card-body">
          <h3 class="btn btn-secondary btn-lg btn-block">
            Expenses
            <a class="btn btn-secondary btn-sm badge-pill" href="{% url 'oplaty:expense-create' %}?from={{ request.path|urlencode }}">
              <i class="fas fa-plus-circle"></i>
            </a>
          </h3>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              {% if recurring_expenses or non_recurring_expenses %}
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Due date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Paid</th>
                    <th scope="col">Remaining</th>
                  </tr>
                </thead>
                <tbody>
                  {% if recurring_expenses %}
                    {% for expense in recurring_expenses %}
                      <tr data-toggle="collapse" data-target="#transaction-row-{{ expense.title }}" aria-expanded="false" aria-controls="transaction-row-{{ expense.title }}">
                        <td>
                          <a class="btn btn-secondary btn-sm btn-block" href="{% url 'oplaty:expense-detail' expense.id %}?from={{ request.path|urlencode }}">
                          {{ expense.title }}</a>
                        </td>
                        <td>{{ expense.due_date|date:"d.m.y" }}</td>
                        <td>{{ expense.amount}}</td>
                        <td>{{ expense.amount_paid }}</td>
                        <td>{{ expense.remaining_amount }}</td>
                      </tr>
                    {% endfor %}
                      <tr style="font-weight:bold">
                      <td align='center' colspan=2>Recurring</td>
                      <td>{{ recurring_amount_sum }}</td>
                      <td>{{ recurring_amount_paid_sum }}</td>
                      <td>{{ recurring_remaining_sum }}</td>
                    </tr>
                    <tr style="height: 30px;"></tr>
                  {% endif %}
                  {% if non_recurring_expenses %}
                    {% for expense in non_recurring_expenses %}
                      <tr data-toggle="collapse" data-target="#transaction-row-{{ expense.title }}" aria-expanded="false" aria-controls="transaction-row-{{ expense.title }}">
                        <td>
                          <a class="btn btn-secondary btn-sm btn-block" href="{% url 'oplaty:expense-detail' expense.id %}?from={{ request.path|urlencode }}">
                          {{ expense.title }}</a>
                        </td>
                        <td>{{ expense.due_date|date:"d.m.y" }}</td>
                        <td>{{ expense.amount}}</td>
                        <td>{{ expense.amount_paid }}</td>
                        <td>{{ expense.remaining_amount }}</td>
                      </tr>
                    {% endfor %}
                    <tr style="font-weight:bold">
                      <td align='center' colspan=2>Non-recurring</td>
                      <td>{{ non_recurring_amount_sum }}</td>
                      <td>{{ non_recurring_amount_paid_sum }}</td>
                      <td>{{ non_recurring_remaining_sum }}</td>
                    </tr>
                  <tr style="height: 30px;"></tr>
                  {% endif %}
                  {% if recurring_expenses and non_recurring_expenses %}
                    <tr style="font-weight:bold">
                      <td align='center' colspan=2>Total</td>
                      <td>{{ total_amount_sum }}</td>
                      <td>{{ total_amount_paid_sum }}</td>
                      <td>{{ total_remaining_sum }}</td>
                    </tr>
                    {% endif %}
                {% else %}
                    <tr><td>No expenses</td></tr>
                </tbody>
              {% endif %}
            </div>
            </table>
            <h3 class="btn btn-secondary btn-lg btn-block mt-3">
              Transactions
              <a class="btn btn-secondary btn-sm badge-pill" href="{% url 'oplaty:transaction-create' %}?from={{ request.path|urlencode }}"><i class="fas fa-plus-circle"></i></a>
            </h3>
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover">
                {% if transactions %}
                <thead>
                  <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                    <th scope="col">Expense</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for transaction in transactions %}
                  <tr>
                    <td>
                      <a class="btn btn-secondary btn-sm btn-block" href="{% url 'oplaty:transaction-detail' transaction.id %}?from={{ request.path|urlencode }}">{{ transaction.date|date:"d.m.Y" }}</a>
                    </td>
                    <td>{{ transaction.amount}}</td>
                    <td>{{ transaction.expense.title }}</td>
                    <td>
                      <a class="btn btn-success btn-sm" href="{% url 'oplaty:transaction-update' transaction.id %}?from={{ request.path|urlencode }}">EDIT</a>
                      <a class="btn btn-danger btn-sm" href="{% url 'oplaty:transaction-delete' transaction.id %}?from={{ request.path|urlencode }}">DEL</a>
                    </td>
                  </tr>
                  {% endfor %}
                  {% else %}
                    <tr><td>No transactions</td></tr>
                  {% endif %}
                </tbody>
              </table>
            </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
{% endblock %}
