{% extends "oplaty/base.html" %}
{% load crispy_forms_tags %}

<head>
  <title>{% block title %}{{ month_name }} {{ year }}{% endblock title %}</title>
</head>

{% block content %}
<div class="container"  style="max-width: 800px;">
  <div class="row">
    <div class="col">
      <div class="card bg-light mb-3 mt-3 text-center">
        <h2 class="card-header">
          Edit Transaction
        </h2>
        <div class="card-body">
          <form method="post" action="{% if from %}?from={{ from }}{% endif %}">{% csrf_token %}
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <tr>
                <td style="width:30%">Expense</td>
                <td>{{ form.expense|as_crispy_field }}</td>
              </tr>
              <tr>
                <td>Date</td>
                <td>{{ form.date|as_crispy_field }}</td>
              </tr>
              <tr>
                <td>Amount</td>
                <td>{{ form.amount|as_crispy_field }}</td>
              </tr>
              <tr>
                <td>Comment</td>
                <td>{{ form.comment|as_crispy_field }}</td>
              </tr>
            </table>
            <input type="submit" value="Apply" class="btn btn-secondary btn-sm">
            <a class="btn btn-secondary btn-sm" href="{% if from %}{{ from }}{% else %}{% url 'oplaty:transaction-detail' id=form.instance.id %}{% endif %}">Cancel</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endblock %}
