{% extends "oplaty/base.html" %}

<head>
  <title>{% block title %}Transaction {{ transaction.date|date:"d.m.y" }}{% endblock title %}</title>
</head>

{% block content %}
<div class="container"  style="max-width: 800px;">
  <div class="row">
    <div class="col">
      <div class="card bg-light mb-3 mt-3 text-center">
        <h2 class="card-header">
          Transaction
          <a class="btn btn-success btn-sm" href="{% url 'oplaty:transaction-update' transaction.id %}">EDIT</a>
          <a class="btn btn-danger btn-sm" href="{% url 'oplaty:transaction-delete' transaction.id %}">DEL</a>
        </h2>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              <tr>
                <td style="width:30%">Expense</td>
                <td>
                  <a class="btn btn-secondary btn-sm btn-block" href="{% url 'oplaty:expense-detail' transaction.expense.id %}?from={{ request.path|urlencode }}">
                    {{ transaction.expense.title }} - {{ transaction.expense.due_date }}
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                  Date
                </td>
                <td>{{ transaction.date|date:"d.m.y" }}</td>
              </tr>
              <tr>
                <td>
                  Amount
                </td>
                <td>{{ transaction.amount }} zł</td>
              </tr>
              <tr>
                <td>
                  ID
                </td>
                <td>{{ transaction.id }}</td>
              </tr>
              <tr>
                <td>
                  Comment
                </td>
                <td>{{ transaction.comment }}</td>
              </tr>
            </table>
          </div>
          <a class="btn btn-secondary btn-sm" href="{% if from %}{{ from }}{% else %}{% url 'oplaty:month-view' month=transaction.expense.due_date.month year=transaction.expense.due_date.year %}{% endif %}">Back</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
