{% extends "oplaty/base.html" %}

<head>
  <title>{% block title %}{{ month_name }} {{ year }}{% endblock title %}</title>
</head>

{% block content %}
<div class="container"  style="max-width: 800px;">
  <div class="row">
    <div class="col">
      <div class="card bg-light mb-3 mt-3 text-center">
        <h2 class="card-header">
          {{ month_name }} {{ year }}
          <div class="col">
            <a class="btn btn-secondary btn-sm" href="{% url 'oplaty:year-view' year=year %}">Year View</a>
            <a class="btn btn-secondary btn-sm" href="{% url 'oplaty:month-view' year=year month=month %}">Expense View</a>
          </div>
        </h2>
        <div class="card-body">
          <h3 class="btn btn-secondary btn-lg btn-block mt-3">
            Transactions
            <a class="btn btn-secondary btn-sm badge-pill" href="{% url 'oplaty:transaction-create' %}?from={{ request.path|urlencode }}"><i class="fas fa-plus-circle"></i></a>
          </h3>
          <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
              {% if transactions %}
              <thead>
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Amount</th>
                  <th scope="col">Expense</th>
                  <th scope="col">Actions</th>
                </tr>
              </thead>
              <tbody>
                {% for transaction in transactions %}
                <tr>
                  <td>
                    <a class="btn btn-secondary btn-sm btn-block" href="{% url 'oplaty:transaction-detail' transaction.id %}?from={{ request.path|urlencode }}">{{ transaction.date|date:"d.m.Y" }}</a>
                  </td>
                  <td>{{ transaction.amount}}</td>
                  <td>{{ transaction.expense.title }}</td>
                  <td>
                    <a class="btn btn-success btn-sm" href="{% url 'oplaty:transaction-update' transaction.id %}?from={{ request.path|urlencode }}">EDIT</a>
                    <a class="btn btn-danger btn-sm" href="{% url 'oplaty:transaction-delete' transaction.id %}?from={{ request.path|urlencode }}">DEL</a>
                  </td>
                </tr>
                {% endfor %}
                {% else %}
                  <tr><td>No transactions</td></tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
