{% extends "oplaty/base.html" %}

<head>
  <title>{% block title %}{{ month_name }} {{ year }}{% endblock title %}</title>
</head>

{% block content %}
<div class="container-fluid mt-3 ml-2 mr-2">
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-sm table-hover text-center">
      <thead>
        <tr class="table-secondary">
          <th style="width:13%">{{ year }}</th>
          {% for name in months_names %}
            <th style="width:7%;" class="c-month-name" scope="col" colspan="2"><a class="btn btn-secondary btn-sm btn-block" href="{% url 'oplaty:month-view' year=year month=forloop.counter %}">{{ name|capfirst }}</a></th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for expense in recurring %}
          <tr>
            <td><b class="btn btn-secondary btn-sm btn-block">{{ expense.title }}</b></td>
            {% for month in expense.months %}
              {% if month.amount %}
                <td style="width:3.5%;">{{ month.amount|floatformat:"-2" }}</td>
                <td>{{ month.amount_paid|floatformat:"-2"}}</td>
              {% else %}
                <td colspan="2">-</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        <tr class="table-secondary">
          <td><b>Recurring</b></td>
          {% for month in summaries %}
            {% if month.recurring_amount_sum %}
              <td style="width:3.5%;"><b>{{ month.recurring_amount_sum|floatformat:"-2" }}</b></td>
              <td><b>{{ month.recurring_amount_paid_sum|floatformat:"-2" }}</b></td>
            {% else %}
              <td colspan="2">-</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr style="height: 30px;"></tr>
        {% for expense in non_recurring %}
          <tr>
            <td><b class="btn btn-secondary btn-sm btn-block">{{ expense.title }}</b></td>
            {% for month in expense.months %}
              {% if month.amount %}
                <td>{{ month.amount|floatformat:"-2" }}</td>
                <td>{{ month.amount_paid}}</td>
              {% else %}
                <td colspan="2">-</td>
              {% endif %}
            {% endfor %}
          </tr>
        {% endfor %}
        <tr class="table-secondary">
          <td><b>Non-recurring</b></td>
          {% for month in summaries %}
            {% if month.recurring_amount_sum %}
              <td>{{ month.non_recurring_amount_sum|floatformat:"-2" }}</td>
              <td>{{ month.non_recurring_amount_paid_sum|floatformat:"-2" }}</td>
            {% else %}
              <td colspan="2">-</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr style="height: 30px;"></tr>
        <tr class="table-secondary">
          <td><b>Total</b></td>
          {% for month in summaries %}
            {% if month.total_amount_sum %}
              <td>{{ month.total_amount_sum|floatformat:"-2" }}</td>
              <td>{{ month.total_amount_paid_sum|floatformat:"-2" }}</td>
            {% else %}
              <td colspan="2">-</td>
            {% endif %}
          {% endfor %}
        </tr>
        <tr class="table-secondary">
          <td><b>Remaining</b></td>
          {% for month in summaries %}
            {% if month.total_amount_sum %}
              <td></td>
              <td><b>{{ month.total_remaining_sum|floatformat:"-2" }}</b></td>
            {% else %}
              <td colspan="2">-</td>
            {% endif %}
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col"></div>
      <div class="col text-center"><a class="btn btn-secondary btn-sm" href="{% url 'oplaty:expense-create' %}">Add expense</a></div>
      <div class="col text-center"><a class="btn btn-secondary btn-sm" href="{% url 'oplaty:transaction-create' %}">Add transaction</a></div>
      <div class="col"></div>
    </div>
  </div>
</div>

{% endblock %}
